:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.76); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  /* color: #646cff; */
  text-decoration: inherit;
}
a:hover {
  color: black;
}

body {
  margin: 0;
  /* min-width: 100vw; */
  min-height: 100vh;
  
  
}

.app-body {
  background-color: rgb(233, 233, 233);
  height: 100vh;
  /* height: calc(100vh - 200px); */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */


.header {
  /* freeze at the top of viewport */
    position: fixed;
    top: 0;
    z-index: 1;
}

/* background image for Nav section */
.nav-background {
  background-image: url('./utils/images/nav-background.jpg');
  background-size: cover;
  background-position: center;
}

.nav-links {
  font-size: 30px;
  margin-right: 15px;
}

.full-name {
  /* color: black; */
  font-size: 45px;
  margin-left: 15px;
}

.full-name,
.nav-links {
  font-weight: bolder;
}

.camera {
  border-radius: 79px;
}

.projectGit {
  vertical-align: middle;
  
}

.gitIcon, .github, .linkedin, .instagram {
  vertical-align: top;
  border-radius: 77px;
}

.github,
.linkedin,
.instagram {
  vertical-align: middle;
}

.projectUrl, .resume-link, .resume-download {
  color: black;
  text-decoration: none;
  font-size: 20px;

}

.projectUrl:hover, .resume-link:hover {
  color: black;
}

.projectType {
  font-size: 12px;
}

.project-tile {
  border-radius: 10px;
}

.tile-info {
  opacity: 0;
  
}

.tile-info:hover {
  opacity: 0.75;
  transition: all 0.5s ease-in-out;
}

.project-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form {
  padding: 25px;
  background-color: rgba(127, 157, 255, 0.164);
  border-radius: 10px;
}

.resume-list {
  font-size: 20px;
}

.footer {
  background-color: #bbada7;
  text-align: center;
  /* freeze at the bottom of viewport */
  position: fixed;
  bottom: 0;
  z-index: 2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
}
