:root {
  
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: black;
}

body {
  margin: 0 0 10em 0;
  height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

/* style Outlet component */
.app-body {
  background-color: rgb(224, 218, 218);
  min-height: calc(100vh );
  overflow-y: auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


/* background image for Nav section */
.nav-background {
  background-image: url('./utils/images/nav-background.jpg');
  background-size: cover;
  background-position: center;
}

.nav-links {
  font-size: 30px;
  margin-right: 15px;
}

.full-name {
  font-size: 45px;
  margin-left: 15px;
}

.full-name,
.nav-links {
  font-weight: bolder;
}

/* About Me image */
.camera {
  border-radius: 79px;
}


/* portfolio Git icon, footer icons */
.gitIcon, .github, .linkedin, .instagram {
  vertical-align: top;
  border-radius: 77px;
}

/* footer icons */
.github,
.linkedin,
.instagram {
  vertical-align: middle;
}

/* style portfolio, resume links */
.projectUrl, .resume-link, .resume-download {
  color: black;
  text-decoration: none;
  font-size: 20px;

}

/* lower opacity initially */
.projectGit, .projectUrl {
  opacity: 0.5;
}
 /* change portfolio link opacity on hover */
.projectGit:hover,
.projectType:hover,
.projectUrl:hover {
  opacity: 1;
}

/* align git icon with text */
.projectGit {
  vertical-align: middle;
  
}

/* links default to blue, change to black on hover */
.projectUrl:hover, .resume-link:hover {
  color: black;
}

.projectType {
  font-size: 12px;
}

.project-tile {
  border-radius: 30px;
  opacity: 0.7;
  
}

/* hide project text initially */
.tile-info {
  opacity: 1;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.1s ease-in-out;
}

/* display project text on hover */
.project-tile:hover .tile-info {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  visibility: visible;
}

/* display project flexibly */
.project-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

/* bottom margin on outlet sections */
.about-me, .project-tiles, .contact-form, .back-end {
  margin-bottom: 10em;
}

.contact-form {
  padding: 25px;
  background-color: rgba(127, 157, 255, 0.164);
  border-radius: 30px;
}

.resume-list {
  font-size: 20px;
}
 footer {
  position: fixed;
  bottom: 0;
  margin-top: 10em;
 }

.footer {
  background-color: #bbada7;
  text-align: center;
  padding: 0.7rem;
}

/* style for mobile and smaller screens */
@media (max-width: 1080px) {
  h1 {
      font-size: 2em;
  }
  .nav-links {
    font-size: 18px;
  }
  .full-name {
    font-size: 30px;
  }
  .projectUrl,
  .resume-link,
  .resume-download {
    font-size: 12px;

  }
  .projectType {
    font-size: 8px;
  }
  .resume-list {
    font-size: 12px;
  }
  
}
